<!-- <div>
  <div style="display: flex;flex-direction: column;width: 40%; "> -->
<div class="cwidth">
  <div class="header">
    <div class="header__title">
      Active Vehicles
    </div>
  </div>
  <hr style="width: 40%;">
  <div style="width: 40%;">
    <mat-tab-group (selectedTabChange)="tabChanged($event)" animationDuration="0ms">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <div style="cursor: pointer;" (click)="getVehicleDetail()" *ngFor="let vehicle of selectedVehicles">
          <app-vehicle-card [activeVehicles]="vehicle"></app-vehicle-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
