<div>
  <div style="font-size: 25px;padding: 10px;font-weight: 500;padding: 10px;background-color: white;">
    Active Vehicles
  </div>
  <div style="display: flex;flex-direction: column;width: 35%;">
    <div style="display: flex;flex-direction: row;">
      <div>
        <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabClick($event)">
          <mat-tab label="All">
            <div *ngFor="let vehicle of filteredVehicle">
              <div class="vehicle-card" (click)="getVehicleDetail(vehicle)">
                <app-vehicle-card [activeVehicles]="vehicle"></app-vehicle-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Driving">
            <div *ngFor="let vehicle of filteredVehicle">
              <div class="vehicle-card" (click)="getVehicleDetail(vehicle)">
                <app-vehicle-card [activeVehicles]="vehicle"></app-vehicle-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Parked">
            <div *ngFor="let vehicle of filteredVehicle">
              <div class="vehicle-card" (click)="getVehicleDetail(vehicle)">
                <app-vehicle-card [activeVehicles]="vehicle"></app-vehicle-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div style="padding-top: 49px;display: flex;">
        <div *ngIf="isWindowClosed">
          <app-vehicle-detail [vehicleD]="vehicleDetail" (closeWindow)="closeDetailWindow($event)"></app-vehicle-detail>
        </div>
        <div>
          <google-map height="570px" width="820px" [options]="options">
            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition.Marker"
              [options]="{icon: { url:'https://maps.google.com/mapfiles/ms/icons/green-dot.png' }, zIndex: 100}">
            </map-marker>
          </google-map>
        </div>
      </div>
    </div>
  </div>
</div>
