<div style="display: flex;flex-flow: column;">
  <div class="layout">
    <nav>
      <div class="outer-flex header-space">
        <div class="outer-flex header-space1">
          <h4>Fleet Management</h4>
        </div>
        <div class="outer-flex header-space2">
          <div class="outer-flex header-space3">
            <div class="devider"></div>
            <div>
              <fa-icon [icon]="faHamburger"></fa-icon>
            </div>
            <div class="devider"></div>
          </div>
          <div class="outer-flex header-space4">
            <h4>Hello User!</h4>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div style="display: flex;">
    <app-side-bar></app-side-bar>
    <div style="background-color:#EFF6FA;width:100%">
      <router-outlet style="display: none"></router-outlet>
    </div>
  </div>

</div>
