.scrollable-container {
  overflow: auto;
  height: 91vh;
  display: block;
}

.layout {
  display: flex;
  flex-direction: column;
}

.outer-flex {
  flex-wrap: wrap;
  display: flex;
}

.header-space {
  height: auto;
  min-height: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  overflow: visible;
  background-color: #0D8A72;
  color: white;
}

.header-space1 {
  height: auto;
  min-height: 2rem;
  width: 180px;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 16px;
  overflow: visible;
}

.header-space2 {
  height: auto;
  min-height: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  padding: 0;
  overflow: visible;
  background-color: unset;
}

.header-space3 {
  height: auto;
  min-height: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 0;
  overflow: visible;
  background-color: unset;
}

.devider {
  width: 1px;
  height: 56px;
  margin: 0px 10px 0px 10px;
  background-color: #09756b;
}

.header-space4 {
  height: 56px;
  width: 150px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 0;
  overflow: visible;
  background-color: unset;
}

.layout-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.main-container {
  height: 91vh;
  width: 14em;
  background-color: white;
}

.main-container-fixed {
  top: 56px;
}

.scrollable {
  padding: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

ul {
  list-style-type: none;
  padding-left: 0em;
  margin-top: 0em;
}

.color-icon {
  color: #09756b;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
}

a {
  text-decoration: none;
  color: #09756b;
}

a:hover {
  transition: 1s;
  color: #035b52;
}
